:root {
  /* Primary */

  --cyan: hsl(179, 62%, 43%);
  --lightCyan: hsl(179, 62%, 47%);
  --brightYellow: hsl(71, 73%, 54%);

  /* Neutral */

  --lightGray: hsl(204, 43%, 93%);
  --grayishBlue: hsl(218, 22%, 67%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  font-family: "Karla";
  font-size: 16px;
  text-align: left;
  background-color: var(--lightGray);
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 20px;
  width: 315px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul li {
  text-decoration: none;
  list-style-type: none;
}

section {
  padding: 20px;
}

section.join {
  background-color: #fff;
  color: var(--cyan);
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 0.88em;
  border-radius: 5px 5px 0 0;
  padding: 35px 20px;
}

section.join span {
  color: var(--brightYellow);
  font-weight: 700;
}

section.join p {
  color: var(--grayishBlue);
  line-height: 1.7;
}

section.prices,
section.reason {
  color: #fff;
}

section.prices {
  display: flex;
  flex-direction: column;
}

section.prices h2 {
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 15px;
}

section.prices button {
  background-color: var(--brightYellow);
  border: none;
  color: #fff;
  border-radius: 5px;
  padding: 15px;
  font-size: 700;
  font-size: 1em;
}

section.prices {
  background-color: var(--cyan);
  padding: 25px 20px;
}

section.prices .price {
  display: flex;
  align-items: center;
  gap: 15px;
}

section.prices .price {
  color: var(--lightGray);
  font-weight: 400;
}

section.prices .price span:nth-child(1) {
  font-size: 2.1em;
  margin-bottom: 5px;
  color: #fff;
}

section.prices span:nth-child(3) {
  color: var(--lightGray);
  margin-bottom: 30px;
}

section.reason {
  background-color: var(--lightCyan);
  color: var(--lightGray);
  font-size: 0.8em;
  border-radius: 0 0 5px 5px;
}

section.reason h2 {
  margin-bottom: 20px;
}

section.reason ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* 635 x 475 */
@media only screen and (min-width: 1440px) {
  main {
    height: 800px;
  }
  .container {
    justify-content: center;
    width: 600px;
    flex-direction: column;
  }

  section.join {
    padding: 40px 30px;
    border-radius: 10px 10px 0 0;
  }

  .desc {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  section.prices {
    width: 50%;
    border-radius: 0 0 0 10px;
    padding: 30px;
  }

  section.reason {
    width: 50%;
    border-radius: 0 0 10px 0;
    padding: 30px;
  }
}
